{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "globals": {
    "strapi": true
  },
  "rules": {
    "no-unused-vars": ["warn", "all"],
    "no-console": "warn"
  }
}
